<h1>お気に入り一覧</h1>
<% @favorites.each do |favorite| %>
  <%#= image_tag(favorite.post.image.url) if favorite.post.image.url %>
  <%# binding.pry %>
  <% if @group.id == favorite.post.group_id %>
    <%= link_to favorite.post.title, group_post_path(favorite.post.group_id, favorite.post_id) %>
  <% end %>
  <%#= link_to(post.title,"/groups/#{post.group.id}/posts/#{post.id}") %>
<% end %>
