// ⑥何かがおかしい　_edit_other_comment.js.erbに追記するんじゃなくて？
<div class="each_other_comment row" data-comment="<%= @id_comment %>">

// ⑦の表記場所はhtmlの方だけど、form-は⑥で登場
  <%= form_with(model: @other_comment, remote: true) do |form| %>
    <div class="add_other_comment row">
      <%= form.text_area :other_comment, rows: 3, placeholder: "コメントを追加...", class: "col-xs-11" %>
      <%= form.submit '投稿する', data: { confirm: '投稿しますか？' }, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
