<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
        <p>
          <%= comment.user.name %>
          <% if current_user == comment.user %>
            <%#= link_to "編集", edit_group_post_comment_path(post.id, comment.id) %>
            <%#= link_to "削除", group_post_comment_path(group.id, post.id, comment.id), method: :delete, data:{confirm: "本当に削除しますか？"} %>
            <%#= link_to '削除', group_post_comment_path(group.id, comment.post_id, comment.id), method: :delete, remote: true %>
            <%# binding.pry %>
            <%= link_to '削除', group_post_comment_path( comment.post.group_id, comment.post_id, comment.id), method: :delete, remote: true %>
          <% end %>
        </p>
        <p><%= comment.content %></p>
    <% end %>
  <% end %>
</ul>
