<div class="group-item">
  <div class="group-item__body">
    <div class="group-item__body-links">
      <div class="group-item__body-link"><%= link_to group.name, group_path(group.id) %></div>
    </div>
  </div>
</div>
