<div class="group-item">
  <% if user.id != current_user.id %>
    <div class="group-item__image"><%= image_tag(user.image.url) if user.image %></div>
    <div class="group-item__username"><%= link_to user.name, user_path(user.id) %></div>
    <div class="group-item__message"><%= link_to 'メッセージ',conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></div>
  <% end %>
</div>
