<div class="home-about">
  <div class="home-about__title">callmeとは？</div>
    <div class="home-about__block">callme(コールミー)とは、メモを共有するアプリです。</div>
    <div class="home-about__block">職場の生産性を上げるためのアプリです。</div>
    <div class="home-about__block">「これ見てやって」→「コレミー」→「callme(コールミー)」(無理矢理)</div>
</div>
