<div class="home-top">
  <div class="home-top__contents">
    <div class="home-top__block1">メモを共有し、生産性を上げる。</div>
    <div class="home-top__block2">その仕事、本当にあなたにしかできない仕事？</div>
    <div class="home-top__image"><img src="assets/home2.png"></div>
  </div>
</div>
