@import "bootstrap-sprockets";
@import "bootstrap";

@import './groups';
@import './users';


// application

.application {
  background-color: #D9E5FF;
  // margin: 10px;
  // margin-bottom: 40vh;
  &__title {
    margin: 10px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    // @extend .application__title;
    // width: 100vw;
    // padding: 20px;
    // margin: 20px 0;
    // text-align: center;
    // color: aqua;
    // background-color: #808080;
    // box-shadow: 1px 1px 10px 4px #808080;
  }
  &__about {
    margin: 15px 10px;
    float: left;
    // width: 40vw;
    // margin: 20px auto;
    // text-align: center;
  }
  &__username {
    @extend .application__about;
    // float: left;
    // width: 40vw;
    // margin: 20px auto;
    // text-align: center;
  }
  &__logout {
    @extend .application__about;
    // float: left;
    // width: 40vw;
    // margin: 20px auto;
    // text-align: center;
  }
  &__makeuser {
    @extend .application__about;
    // float: left;
    // width: 40vw;
    // margin: 20px auto;
    // text-align: center;
  }
  &__login {
    @extend .application__about;
    // float: left;
    // width: 40vw;
    // margin: 20px auto;
    // text-align: center;
  }
}

.application__migi {
  float: right;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
 }
