// index
.member-index {
  margin-bottom: 40vh;
  &__title {
    width: 100vw;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    // color: aqua;
    // background-color: #808080;
    // box-shadow: 1px 1px 10px 4px #808080;
  }
  &__items {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
  }
}

.member-item {
  border-radius: 15px;
  border-width: 1px;
  border: solid 1px #C0C0C0;
  margin: 8px;
  &-username {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
    border-bottom: solid 1px #C0C0C0;
  }
  &-out {
    margin: 5px 0;
  }
  &-edit {
    width: 80%;
    margin: 5px auto;
    padding: 5px;
    height: 44px;;
    clear: both;
  }
}
