// index
.member-index__back {
  text-align: center;
  border: solid 1px;
  width: 5%;
  margin: 0 auto;
}
.member-index {

  &__title {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  &__back {

  }
}

.member {
  &__items {
    margin-top: 10px;
    margin: 10px auto;
  }
}
.member__item {

  &-username {
    margin: 2px;
  }
  &-author {
    margin: 2px;
  }
  &-out {
    margin: 2px;
  }
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
 }
