// index
.member-index {
  text-align: center;
  &__title {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  &__back {
    margin: 5px;
  }
  &__items {

  }
}

.member__item {

  &-username {
    float: left;
    position: relative;
    left: 48%;
  }
  &-out {
    float: left;
    position: relative;
    left: 48%;
    margin-left: 10px;
  }
  // &-edit {
  //   width: 80%;
  //   margin: 5px auto;
  //   padding: 5px;
  //   height: 44px;;
  //   clear: both;
  // }
}
// show
.member-show {
  &__title {

  }
  &__groupindex {

  }
  &__group-name {

  }
  &__group-username {

  }
  &__out {

  }
  &__in {

  }
  &__postnew {

  }
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
 }
