// index
.message-index {
  margin-bottom: 40vh;
  &__before-message {
    width: 100vw;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    // color: aqua;
    // background-color: #808080;
    // box-shadow: 1px 1px 10px 4px #808080;
  }
  &__items {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
  }
  &__notice {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
  }
  &__text-area {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
  }
  &__submit {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
  }
}

.message-item {
  border-radius: 15px;
  border-width: 1px;
  border: solid 1px #C0C0C0;
  margin: 8px;
  &__content {
    padding: 10px;
  }
  &__header {

  }
  &__list {

  }
  &__item {

  }
  &__body {

  }
  &__read {

  }
}
