// index
.post-index {

  &__title {
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  &__notice {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
  }
  &__back {
    text-align: center;
    width: 5%;
    margin: 5px auto;
    border: solid 1px;
    padding: 1px 5px;
  }
  &__new {
    padding-top: 10px;
    border-top: solid 1px;
    border-color: #DDDDDD;

    margin: 20px auto;
    text-align: center;

    width: 5%;
    margin: 5px auto;
    border: solid 1px;
    padding: 1px 5px;
  }
  &__body {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
    &_searchtitle {
      // float: left;
      // position: relative;
      // left: 19%;
      margin: 10px;
    }
    &_submit {
      // float: left;
      // position: relative;
      // left: 15%;
      margin: 10px;
    }
    &_tagfield {
      // float: left;
      // position: relative;
      // left: 38%;
      margin: 10px;
      text-align: center;
    }
    &_tagsubmit {
      // float: left;
      // position: relative;
      // left: 36%;
      margin: 10px;
      text-align: center;
    }
  }
  &__items {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
  }
}
// _post
.post-item {

  &__show {
    // float: left;
    // position: relative;
    // left: 36%;
    // width: 5%;
    // margin: 5px auto;
    // border: solid 1px;
    // padding: 1px 5px;
    padding: 5px;
    border: solid 1px;
  }
  &__image {
    // float: left;
    // position: relative;
    // left: 36%;
  }
}
//new
.post-new {
  text-align: center;
  &__title {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
  }
}
// edit
.post-edit {
  text-align: center;
  &__title {
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
}
// _form
#post_image {
    margin: 0 auto
}
.post-form{

  &__errors{

  }
  &__messages{

  }
  &__message {

  }
  &__index {
    width: 5%;
    margin: 5px auto;
    border: solid 1px;
    padding: 1px 5px;
  }
  &__body {
    &-imagelabel {

    }
    &-imageurl {

    }
    &-imageurl img {
      width: 250px;
      height: auto;
    }
    &-imagefield {

    }
    &-titlelabel {

    }
    &-titlefield {

    }
    &-contentlabel {

    }
    &-contentfield {

    }
    &-contentfield input {
      height: 500px;
      width: 500px;
    }
    &-tagset {
      margin-top: 5px;
    }
    &-tags {
      margin: 10px auto;
    }
    &-tagbox {
      // float: left;
      // position: relative;
      // left: 36%;
      // margin: 10px;
      padding-left: 15px;
    }
    &-tagname {
      padding-left: 5px;
      // float: left;
      // position: relative;
      // left: 48%;
      // margin: 10px;
    }
    &-grouplabel {

    }
    &-groupname {

    }
    &-submit {
      margin: 20px;
    }
  }
}

// show
.post-show {
  text-align: center;
  &__posttitle {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
  }
  &__edit {
    float: left;
    position: relative;
    left: 47%;

    width: 50px;
    border: 1px solid #333;
  }
  &__delete {
    float: left;
    position: relative;
    left: 48%;

    width: 50px;
    border: 1px solid #333;
  }
  &__backposts {
    width: 5%;
    margin: 5px auto;
    border: solid 1px;
    padding: 1px 5px;
  }
  &__username {
    float: left;
    position: relative;
    left: 46%;
  }
  &__postimage {
    margin: 10px;
  }
  &__postimage img {
    width: 250px;
    height: auto;
  }

  &__block1 {
    margin-top: 10px;
  }
  &__block2 {
    float: left;
    position: relative;
    left: 40%;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
  }
  &__block3 {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  &__postcontent {

  }
  &__favorite-out {
    margin: 10px auto;
  }
  &__favorite-in {
    margin: 10px auto;
  }
  &__items {

  }
}
.post-item {
  &__tagname {

  }
}
// confirm
.post-confirm {
  text-align: center;
  &__confirm {
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  &__body {
    &-htitlefield {

    }
    &-hcontentfield {

    }
    &-himagefield {

    }
    &-tags {

    }
    &-tag {

    }
    &-group {

    }
  }
  &__imagetitle {
    font-weight: bold;
  }
  &__image {
    margin: 10px;
  }
  &__image img {
    width: 250px;
    height: auto;
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
  }
  &__post-title {
    margin: 5px;
  }
  &__content {
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
  }
  &__post-content {
    margin: 5px;
  }
  &__group {
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
  }
  &__group-name {
    margin: 5px;
  }
  &__submit {
    margin: 5px;
  }
  &__back {
    margin: 10px;
  }
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
 }
