// index
.post-index {
  &__title {
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  &__notice {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
  }
  &__new {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
  }
  &__body {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
    &_searchtitle {
      float: left;
      position: relative;
      left: 19%;
      margin: 10px;
    }
    &_submit {
      float: left;
      position: relative;
      left: 15%;
      margin: 10px;
    }
    &_taglabel {
      text-align: center;
    }
    &_tagfield {
      float: left;
      position: relative;
      left: 38%;
      margin: 10px;
    }
    &_tagsubmit {
      float: left;
      position: relative;
      left: 36%;
      margin: 10px;
    }
  }
  &__items {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
  }
}
// _post
.post-item {

  &__show {
    float: left;
    position: relative;
    left: 36%;
  }
  &__image {
    float: left;
    position: relative;
    left: 36%;
  }
}
//new
.post-new {
  text-align: center;
  &__title {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
  }
}
// edit
.post-edit {
  text-align: center;
  &__title {

  }
}
// _form
#post_image {
    margin: 0 auto
}
.post-form{
  &__errors{

  }
  &__messages{

  }
  &__message {

  }
  &__index {
    margin: 10px;
  }
  &__body {
    &-imagelabel {

    }
    &-imageurl {

    }
    &-imagefield {

    }
    &-titlelabel {

    }
    &-titlefield {

    }
    &-contentlabel {

    }
    &-contentfield {

    }
    &-tags {

    }
    &-tagsbox {
      float: left;
      position: relative;
      left: 36%;
      margin: 10px;
    }
    &-tagname {
      float: left;
      position: relative;
      left: 48%;
      margin: 10px;
    }
    &-grouplabel {

    }
    &-groupname {

    }
    &-submit {

    }
  }
}

// show
.post-show {
  text-align: center;
  &__title {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
  }
  &__edit {
    float: left;
    position: relative;
    left: 47%;
  }
  &__delete {
    float: left;
    position: relative;
    left: 48%;
  }
  &__backposts {

  }
  &__posterimage {
    background-color: #EEEEEE;
    float: left;
    position: relative;
    left: 44%;
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    // border: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
  }
  &__username {
    float: left;
    position: relative;
    left: 46%;
  }
  &__postimage {
    // float: left;
    // position: relative;
    // left: 39%;
  }
  &__block1 {
    margin-top: 10px;
  }
  &__block2 {
    float: left;
    position: relative;
    left: 40%;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
  }
  &__posttitle {
    float: left;
    position: relative;
    left: 41%;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
  }
  &__postcontent {

  }
  &__favorite-out {

  }
  &__favorite-in {

  }
  &__items {

  }
}
.post-item {
  &__tagname {

  }
}
// confirm
.post-confirm {
  &__confirm {

  }
  &__body {
    &-htitlefield {

    }
    &-hcontentfield {

    }
    &-himagefield {

    }
    &-tags {

    }
    &-tag {

    }
    &-group {

    }
  }
  &__image {

  }
  &__tag {

  }
  &__title {

  }
  &__post-title {

  }
  &__content {

  }
  &__post-content {

  }
  &__group {

  }
  &__group-name {

  }
  &__submit {

  }
  &__back {

  }
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
 }
