// index
.user-index {

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    // color: aqua;
    // background-color: #808080;
    // box-shadow: 1px 1px 10px 4px #808080;
  }
  &__back {
    text-align: center;
  }
  &__namesearch {
    float: left;
    position: relative;
    left: 40%;
    margin: 10px;
  }
  &__submit {
    float: left;
    position: relative;
    left: 40%;
    margin: 10px;
    margin-left: 0;
  }
  &__items {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
  }
  &__notice {
    width: 40vw;
    margin: 20px auto;
    text-align: center;
  }
}

.user-item {
  border-radius: 15px;
  border-width: 1px;
  border: solid 1px #C0C0C0;
  margin: 8px;
  &__body {
    padding: 10px;
    &-name {
      font-size: 20px;
      font-weight: bold;
      margin: 5px 0;
      border-bottom: solid 1px #C0C0C0;
    }
    &-username {
      margin: 5px 0;
    }
    &-links {
      width: 80%;
      margin: 5px auto;
      padding: 5px;
      height: 44px;;
      clear: both;
    }
    &-link {
      float: left;
      margin: 0 5px;
    }
  }
}
// _user
.user-item {
  &__image {

  }
  &__username {

  }
  &__message {
    margin: 10px;
  }
}
// new
.user-new {
  text-align: center;
  &__title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
// edit
.user-edit {
  text-align: center;
  &__title {

  }
  &__show {
    margin: 10px;

  }
}
// _form
#user_image {
    margin: 0 auto
}
.user-form{

  &__errors{

  }
  &__messages{

  }
  &__message {

  }
  &__body {
    text-align: center;
    margin: 0 auto;
    &-profilelabel {

    }
    &-temporaryimage {
      background-color: #EEEEEE;
      width:50px;
      height:50px;
      object-fit: cover;
      border-radius: 50%;
      margin: 0 auto;
      overflow: hidden;
    }
    &-imagefield {

    }
    &-namelabel {
      margin-top: 10px;
    }
    &-namefield {

    }
    &-maillabel {
      margin-top: 10px;
    }
    &-emailfield {

    }
    &-passwordlabel {
      margin-top: 10px;
    }
    &-passwordfield {

    }
    &-repasswordlabel {
      margin-top: 10px;
    }
    &-repasswordfield {

    }
    &-submit {
      margin-top: 10px;
    }
  }
}
// show
.user-show {
  text-align: center;
  margin: 15px;
  &__userimage {
    background-color: #EEEEEE;
    float: left;
    position: relative;
    left: 39%;
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    // border: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
  }
  &__username {
    margin: 0 auto;
    // margin: 15px;
    float: left;
    position: relative;
    left: 50%;
    font-size: 24px;
    font-weight: bold;
  }
  &__options {
    position: relative;
    overflow: hidden;
  }
  &__option {
    position: relative;
    left: 50%;
  }
  &__edit {
    float: left;
    position: relative;
    left: -3%;
    margin-right: 10px;

    width: 50px;
    border: 1px solid #333;
  }
  &__delete {
    float: left;
    position: relative;
    left: -3%;

    width: 50px;
    border: 1px solid #333;
  }
  &__email {
    float: left;
    position: relative;
  }
  &__userindex {

  }
  &__groupindex {

  }
  &__groups {
    padding-top: 10px;
    border-top: solid 1px;
    border-color: #DDDDDD;

    font-size: 20px;
    font-weight: bold;
    margin: 10px;
  }
  &__groupshow {

  }
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
 }
